<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City Weather</title>
</head>
<body>
    <div style="margin-left: 20%; margin-right: 20%; font-size: 20px; background-color: #969493; padding-top: 10%; padding-bottom: 10%; padding-left: 5%; padding-right: 5%">
        <h2 style="font-size: 40px; font-weight: bolder" th:inline="text">City</h2>

        ID: <span th:inline="text"> [[${cityInfo.id}]] </span> <br />
        Name: <span th:inline="text"> [[${cityInfo.name}]] </span> <br />
        Country Code: <span th:inline="text"> [[${cityInfo.countryCode}]] </span> <br />
        Country Name: <span th:inline="text"> [[${cityInfo.countryName}]] </span> <br />
        District: <span th:inline="text"> [[${cityInfo.district}]] </span> <br />
        Population: <span th:inline="text"> [[${cityInfo.population}]] </span> <br />
        Local Weather: <span th:inline="text"> [[${cityInfo.temp}]] &#176;F</span> <br />
        Local Time: <span th:inline="text"> [[${cityInfo.time}]] </span> <br />

        <p th:inline="text">For a fabulous weekend get away for 2 to [[${cityInfo.name}]] sign up here.</p>
        <br>
        <form action="#" th:action="@{/cities/reservation" method="post">
            <input type="hidden" name="city" th:value="${cityInfo.getName()}"><label for="email">Email:</label>
            <input type="text" name="email" id="email"> <br />
            <input type="radio" name="level" id="luxury" value="Luxury"><label for="luxury">Luxury $1000</label> <br />
            <input type="radio" name="level" id="veryGood" value="Very Good"><label for="veryGood">Very Good $500</label> <br />
            <input type="radio" name="level" id="good" value="Good"><label for="good">Good $350</label> <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>